


<!-- <footer class="footer">
<div class="footer-copyright text-center py-3">© 2019 Copyright:
<a href="www.rhul.ac.uk">Team 20 @ www.rhul.ac.uk</a>
</div>
</footer> -->

<!-- <nav class="navbar fixed-bottom navbar-dark bg-dark">
	
	<a class="navbar-brand" href="#">
		<img src="/../../assets/imgs/rhul-logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
	</a>
</nav> -->

</div>
</body>
</html>